*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-poppins);
  color: #1a1a1a;
}

h1 {
  font-family: var(--font-syne);
  font-weight: 800;
  font-size: 36px;
  margin: 0;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-family: var(--font-syne);
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-family: var(--font-syne);
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 36px;
  }
}

p {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
}

.c-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #5521E0;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.c-button:hover, .c-button:focus {
  background-color: #351483;
}
.c-button:active {
  background-color: #240E5A;
}
@media only screen and (min-width: 768px) {
  .c-button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .c-headerContent {
    width: 620px;
  }
}
@media only screen and (min-width: 768px) {
  .c-headerContent h1 {
    width: 420px;
  }
}

.c-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 16px 32px 16px;
}
@media only screen and (min-width: 768px) {
  .c-header {
    padding: 24px 48px 72px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-header {
    flex-direction: row;
    padding: 24px 112px 96px 112px;
  }
}

.c-headerImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-headerImages-image {
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  height: 240px;
  width: 240px;
}
@media only screen and (min-width: 768px) {
  .c-headerImages-image {
    height: 420px;
    width: 420px;
  }
}
.c-headerImages-image:nth-child(-n+1) {
  margin-left: -24px;
}
.c-headerImages-image:nth-last-child(-n+1) {
  margin-left: 24px;
  margin-top: -48px;
}

.c-logo {
  font-family: var(--font-syne);
  font-weight: 800;
  font-size: 32px;
  text-decoration: none;
  cursor: pointer;
  color: #1a1a1a;
}

.c-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
@media only screen and (min-width: 768px) {
  .c-navbar {
    padding: 16px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-navbar {
    padding: 16px 112px;
  }
}
.c-navbar-wrap {
  display: flex;
  align-items: center;
}
.c-navbar-list {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  -webkit-transition: 0.5 ease-in-out;
  -moz-transition: 0.5 ease-in-out;
  -o-transition: 0.5 ease-in-out;
  transition: 0.5 ease-in-out;
}
.c-navbar-list-item {
  font-family: var(--font-syne);
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .c-navbar-list-item {
    font-size: 20px;
    font-weight: 400;
    color: #1a1a1a;
  }
}
@media only screen and (min-width: 768px) {
  .c-navbar-list {
    display: flex;
  }
}
.c-navbar-list.open {
  display: flex;
  background-color: #1a1a1a;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 71px;
  width: 100vw;
  height: 50vh;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .c-navbar-list.open {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    top: 71px;
    width: auto;
    height: auto;
    background-color: #ffffff;
  }
}
.c-navbar-hamburger {
  all: unset;
  display: block;
  height: 32px;
  width: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .c-navbar-hamburger {
    display: none;
  }
}
.c-navbar-hamburger span {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #1a1a1a;
  height: 4px;
}
.c-navbar-hamburger span:nth-child(1) {
  width: 32px;
  top: 7px;
}
.c-navbar-hamburger span:nth-child(2) {
  width: 24px;
  top: 14px;
}
.c-navbar-hamburger span:nth-child(3) {
  width: 24px;
  top: 14px;
}
.c-navbar-hamburger span:nth-child(4) {
  width: 16px;
  top: 21px;
}
.c-navbar-hamburger.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  right: 50%;
}
.c-navbar-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 32px;
}
.c-navbar-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 32px;
}
.c-navbar-hamburger.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  right: 50%;
}

/*# sourceMappingURL=main.css.map */
