*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-poppins);
  color: #1a1a1a;
  scroll-behavior: smooth;
}

h3 {
  font-family: var(--font-syne);
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 36px;
  }
}
p {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }
}
.c-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #5521e0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.c-button:hover,
.c-button:focus {
  background-color: #351483;
}
.c-button:active {
  background-color: #240e5a;
}
@media only screen and (min-width: 768px) {
  .c-button {
    font-size: 20px;
  }
}
.c-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px 16px 32px 16px;
}
@media only screen and (min-width: 768px) {
  .c-header {
    padding: 24px 48px 72px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-header {
    justify-content: space-between;
    min-height: calc(100vh - 71px);
    flex-direction: row;
    padding: 24px 112px 96px 112px;
  }
}
@media screen and (min-width: 1600px) {
  .c-header {
    padding: 24px 212px 96px 212px;
  }
}

.c-header-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-header-images-image {
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  height: 240px;
  width: 240px;
}
@media only screen and (min-width: 768px) {
  .c-header-images-image {
    height: 420px;
    width: 420px;
  }
}
.c-header-images-image:nth-child(-n + 1) {
  margin-left: -24px;
}
.c-header-images-image:nth-last-child(-n + 1) {
  margin-left: 24px;
  margin-top: -48px;
}
.c-logo {
  font-family: var(--font-syne);
  font-weight: 800;
  font-size: 32px;
  text-decoration: none;
  cursor: pointer;
  color: #1a1a1a;
}
.c-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
@media only screen and (min-width: 768px) {
  .c-navbar {
    padding: 16px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-navbar {
    padding: 16px 112px;
  }
}
@media screen and (min-width: 1600px) {
  .c-navbar {
    padding: 16px 212px;
  }
}
.c-navbar-wrap {
  display: flex;
  align-items: center;
}
.c-navbar-list {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  -webkit-transition: 0.5 ease-in-out;
  -moz-transition: 0.5 ease-in-out;
  -o-transition: 0.5 ease-in-out;
  transition: 0.5 ease-in-out;
}
.c-navbar-list-item {
  font-family: var(--font-syne);
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.c-navbar-list-item:hover,
.c-navbar-list-item:focus {
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .c-navbar-list-item {
    font-size: 20px;
    color: #1a1a1a;
  }
}
@media only screen and (min-width: 768px) {
  .c-navbar-list {
    display: flex;
  }
}
.c-navbar-list.open {
  display: flex;
  background-color: #1a1a1a;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 71px;
  width: 100vw;
  height: 50vh;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .c-navbar-list.open {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    top: 71px;
    width: auto;
    height: auto;
    background-color: #fff;
  }
}
.c-navbar-hamburger {
  all: unset;
  display: block;
  height: 32px;
  width: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .c-navbar-hamburger {
    display: none;
  }
}
.c-navbar-hamburger span {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background-color: #1a1a1a;
  height: 4px;
}
.c-navbar-hamburger span:nth-child(1) {
  width: 32px;
  top: 7px;
}
.c-navbar-hamburger span:nth-child(2) {
  width: 24px;
  top: 14px;
}
.c-navbar-hamburger span:nth-child(3) {
  width: 24px;
  top: 14px;
}
.c-navbar-hamburger span:nth-child(4) {
  width: 16px;
  top: 21px;
}
.c-navbar-hamburger.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  right: 50%;
}
.c-navbar-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 32px;
}
.c-navbar-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 32px;
}
.c-navbar-hamburger.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  right: 50%;
}
.c-about {
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 24px;
  padding: 40px 16px;
}
@media only screen and (min-width: 768px) {
  .c-about {
    padding: 40px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-about {
    flex-direction: row;
    align-items: center;
    padding: 72px 112px;
    min-height: 100vh;
  }
}
@media screen and (min-width: 1600px) {
  .c-about {
    padding: 96px 212px;
  }
}
.c-about-skills-column {
  margin-bottom: 36px;
}
.c-about-skills-row {
  display: flex;
  column-gap: 12px;
  margin: 12px;
}
.c-about-content {
  max-width: 650px;
}
.c-chip {
  display: inline-block;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 100px;
  color: #fff;
}
.c-chip--primary {
  background-color: #dd2251;
}
.c-chip--secondary {
  background-color: #5521e0;
}
@media only screen and (min-width: 768px) {
  .c-chip {
    padding: 8px 12px;
    font-size: 16px;
  }
}
.c-footer {
  display: block;
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 16px 112px 16px;
}
@media only screen and (min-width: 768px) {
  .c-footer {
    padding: 72px 48px 128px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-footer {
    min-height: 100vh;
    padding: 128px 112px;
  }
}
@media screen and (min-width: 1600px) {
  .c-footer {
    padding: 128px 212px;
  }
}
.c-footer-mail {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .c-footer-mail {
    display: flex;
    column-gap: 24px;
  }
}
.c-footer-social {
  display: flex;
  flex-direction: column;
}
.c-footer-social-links {
  display: flex;
  flex-direction: column;
  column-gap: 8px;
}
@media only screen and (min-width: 1024px) {
  .c-footer-social-links {
    row-gap: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .c-footer-social {
    display: flex;
    column-gap: 24px;
  }
}
.c-footer h2 {
  max-width: 540px;
}
.c-footer p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .c-footer p {
    font-size: 20px;
  }
}
.c-footer a {
  font-size: 18px;
  text-decoration: none;
  color: #bca6f1;
}
.c-footer a:hover,
.c-footer a:focus {
  color: #9a79ea;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .c-footer a {
    font-size: 20px;
  }
}
.c-projects {
  display: block;
  padding: 40px 16px;
}
@media only screen and (min-width: 768px) {
  .c-projects {
    padding: 72px 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-projects {
    padding: 96px 112px;
  }
}
@media screen and (min-width: 1600px) {
  .c-projects {
    min-height: 100vh;
    padding: 96px 212px;
  }
}
.c-projects-row {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .c-projects-row {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .c-projects-row {
    column-gap: 48px;
  }
}
.c-projects-card {
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .c-projects-card {
    width: 50%;
  }
}
.c-projects-card-image {
  width: 100%;
  margin-bottom: 24px;
  max-height: 320px;
  object-fit: cover;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1600px) {
  .c-projects-card-image {
    max-height: 480px;
  }
}
