@use '../includes/mixins' as *;
@use '../includes/variables' as *;

.c-about{
    display: flex;
    background-color: $neutral-900;
    color: $text-secondary;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 24px;
    padding: 40px 16px;

    @include breakpoint-tablet{
        padding: 40px 48px;
    }

    @include breakpoint-desktop{
        flex-direction: row;
        align-items: center;
        padding: 72px 112px;
        min-height: 100vh;
    }

    @include breakpoint-xl{
        padding: 96px 212px;
    }

    &-skills{
        &-row{
            display: flex;
            column-gap: 12px;
            margin: 12px;
        }
    }

    &-content{
        max-width: 650px;
    }
}