@use "../includes/mixins" as *;
@use "../includes/variables" as *;

.c-about {
  &-skills {
    &-column {
      margin-bottom: 36px;
    }

    &-row {
      display: flex;
      column-gap: 12px;
      margin: 12px;
    }
  }

  &-content {
    max-width: 650px;
  }
}
