@use '../includes/mixins' as *;
@use '../includes/variables' as *;

.c-footer{
    display: block;
    background-color: $footer-fill;
    color: $text-secondary;
    padding: 40px 16px 112px 16px;

    @include breakpoint-tablet{
        padding: 72px 48px 128px 48px;
    }

    @include breakpoint-desktop{
        padding: 128px 112px;
    }

    @include breakpoint-xl{
        padding: 128px 212px;
    }

    &-mail{
        margin-bottom: 36px;

        @include breakpoint-tablet{
            display: flex;
            column-gap: 24px;
        }
    }

    &-social{
        &-links{
            display: flex;
            flex-direction: row;
            column-gap: 8px;

            @include breakpoint-desktop{
                flex-direction: column;
                row-gap: 8px;
            }
        }

        @include breakpoint-tablet{
            display: flex;
            column-gap: 24px;
        }
    }

    h2{
        max-width: 540px;
    }

    p{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;

        @include breakpoint-tablet{
            font-size: 20px;
        }
    }

    a{
        font-size: 18px;
        text-decoration: none;
        color: $footer-link;

        &:hover, &:focus{
            color: $footer-link-hover;
            text-decoration: underline;
        }

        @include breakpoint-tablet{
            font-size: 20px;
        }
    }
        
}