@use '../includes/mixins' as *;
@use '../includes/variables' as *;

.c-headerImages{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image{
        box-shadow: $shadow-2xl;
        object-fit: cover;
        height: 240px;
        width: 240px;

        @include breakpoint-tablet{
            height: 420px;
            width: 420px;
        }

        &:nth-child(-n + 1){
            margin-left: -24px;
        }

        &:nth-last-child(-n + 1){
            margin-left: 24px;
            margin-top: -48px;       
        }
    }

}