@use '../includes/mixins' as *;
@use '../includes/variables' as *;

.c-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px 16px 32px 16px;

    @include breakpoint-tablet{
        padding: 24px 48px 72px 48px;
    }

    @include breakpoint-desktop{
        justify-content: space-between;
        min-height: calc(100vh - 71px); 
        flex-direction: row;
        padding: 24px 112px 96px 112px;
    }

    @include breakpoint-xl{
        padding: 24px 212px 96px 212px;
    }

    &-content{
        @include breakpoint-tablet{
            width: 620px;
        }

        h1{
            width: 300px;

            @include breakpoint-tablet{
                width: 480px;
            }
        }
    }

    &-images{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-image{
            box-shadow: $shadow-2xl;
            object-fit: cover;
            height: 240px;
            width: 240px;

            @include breakpoint-tablet{
                height: 420px;
                width: 420px;
            }

            &:nth-child(-n + 1){
                margin-left: -24px;
            }

            &:nth-last-child(-n + 1){
                margin-left: 24px;
                margin-top: -48px;       
            }
        }
    }
}