@use "../includes/mixins" as *;
@use "../includes/variables" as *;

.c-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;

  @include breakpoint-tablet {
    padding: 16px 48px;
  }

  @include breakpoint-desktop {
    padding: 16px 112px;
  }

  @include breakpoint-xl {
    padding: 16px 212px;
  }

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-list {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    @include animation(0.5, ease-in-out);

    &-item {
      font-family: $syneFont;
      font-size: 32px;
      font-weight: 700;
      color: $text-secondary;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      @include breakpoint-tablet {
        font-size: 20px;
        color: $text-primary;
      }
    }

    @include breakpoint-tablet {
      display: flex;
    }

    &.open {
      display: flex;
      background-color: $neutral-900;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      top: 71px;
      width: 100vw;
      height: 50vh;
      left: 0;

      @include breakpoint-tablet {
        position: static;
        flex-direction: row;
        justify-content: flex-start;
        top: 71px;
        width: auto;
        height: auto;
        background-color: $neutral-0;
      }
    }
  }
}
