@use '../includes/mixins' as *;
@use '../includes/variables' as *;

.c-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;

    @include breakpoint-tablet{
        padding: 16px 48px;
    }

    @include breakpoint-desktop{
        padding: 16px 112px;
    }

    &-wrap{
        display: flex;
        align-items: center;
    }

    &-list{
       display: none;
       flex-direction: row;
       align-items: center;
       gap: 32px;
       @include animation(.5, ease-in-out);

       &-item{
        font-family: $syneFont;
        font-size: 32px;
        font-weight: 700;
        color: $text-secondary;

        @include breakpoint-tablet{
            font-size: 20px;
            font-weight: 400;
            color: $text-primary;
        }
       }

       @include breakpoint-tablet{
        display: flex;
       }

       &.open{
        display: flex;
        background-color: $neutral-900;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        top: 71px;
        width: 100vw;
        height: 50vh;
        left: 0;
        
        @include breakpoint-tablet{
            position: static;
            flex-direction: row;
            justify-content: flex-start;
            top: 71px;
            width: auto;
            height: auto;
            background-color: $neutral-0;
        }
       }
    }

    &-hamburger{
        all: unset;
        display: block;
        height: 32px;
        width: 32px;
        position: relative;
        @include rotation(0deg);
        @include animation(.5s, ease-in-out);
        cursor: pointer;

        @include breakpoint-tablet{
            display: none;
        }

        span {
            display: block;
            position: absolute;
            right: 0;
            @include rotation(0deg);
            @include animation(.25s, ease-in-out);
            background-color: $hamburger-primary;
            height: 4px;

            &:nth-child(1){
                width: 32px;
                top: 7px;
            }

            &:nth-child(2){
                width: 24px;
                top: 14px;
            }

            &:nth-child(3){
                width: 24px;
                top: 14px;
            }

            &:nth-child(4){
                width: 16px;
                top: 21px
            }
        }

        &.open span{
            &:nth-child(1){
                top: 16px;
                width: 0%;
                right: 50%;
            }

            &:nth-child(2){
                @include rotation(45deg);
                width: 32px;
            }

            &:nth-child(3){
                @include rotation(-45deg);
                width: 32px;
            }

            &:nth-child(4){
                top: 16px;
                width: 0%;
                right: 50%;
        }
    }
}
}