$poppinsFont: var(--font-poppins);
$syneFont: var(--font-syne);

$neutral-0: #ffffff;
$neutral-50: #f3f3f3;
$neutral-100: #e5e5e5;
$neutral-200: #cdcdcd;
$neutral-300: #b2b2b2;
$neutral-400: #9a9a9a;
$neutral-500: #808080;
$neutral-600: #676767;
$neutral-700: #4c4c4c;
$neutral-800: #323232;
$neutral-900: #1a1a1a;
$neutral-950: #0c0c0c;
$neutral-1000: #000000;

$pink-50: #FCEAEF;
$pink-100: #F9D2DC;
$pink-200: #F3A4B8;
$pink-300: #ED7896;
$pink-400: #E74C74;
$pink-500: #DD2251;
$pink-600: #B21B41;
$pink-700: #871230;
$pink-800: #590C20;
$pink-900: #2F0611;
$pink-950: #160308;

$purple-50: #F6F3FD;
$purple-100: #DED4F8;
$purple-200: #BCA6F1;
$purple-300: #9A79EA;
$purple-400: #7B50E4;
$purple-500: #5521E0;
$purple-600: #481CB3;
$purple-700: #351483;
$purple-800: #240E5A;
$purple-900: #11072B;
$purple-950: #080315;

$radius-small: 8px;
$radius-medium: 16px;
$radius-large: 32px;

$shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

